<nav class="bg-white mt-6 mb-6 flex items-center justify-between relative">
  <!-- Dropdown Slider Icon -->
  <div class="relative flex items-center">
    <div (click)="toggleDropdown()" class="text-gray-800 hover:text-black cursor-pointer">
      <i class="fas fa-bars ml-12 text-2xl"></i>
    </div>

    <!-- Vakko Logo -->
    <div class="ml-12">
      <img src="https://www.vakko.com/assets/img/logo2.svg" alt="Vakko Logo" class="w-60 h-12">
    </div>
  </div>

  <!-- Dropdown Menu -->
  <div *ngIf="dropdownOpen" class="fixed left-0 top-0 bg-white w-64 h-screen z-20 transition-transform duration-300">
    <button class="absolute top-8 left-8 text-2xl text-gray-800 hover:text-black" (click)="closeDropdown()">X</button>
    <ul class="p-4 mt-16">
      <li 
        class="relative group"
        *ngFor="let category of categories"
        (mouseenter)="onCategoryMouseEnter(category)"
        
      >
        <a href="#" class="block font-bold font-maison text-lg text-gray-400 hover:text-black mt-4 ml-6">
          {{ category.name }}
        </a>
      </li>
      <a href="#" class="absolute bottom-8 left-4 block font-maison text-lg text-gray-500 hover:text-black mt-4 ml-6">HAKKINDA</a>
      <a href="#" class="absolute bottom-8 left-32 block font-maison text-lg text-gray-500 hover:text-black mt-4 ml-6">TR/EN</a>
    </ul>
  </div>

  <!-- Alt Kategoriler -->
  <div *ngIf="dropdownOpen && hoveredCategory" class="fixed top-0 left-64 bg-white w-96 h-screen z-30">
    <ul class="p-2 max-h-full overflow-y-auto mt-24">
      <li 
        *ngFor="let subCategory of hoveredCategory.subCategories" 
        class="transition-transform transform animate-slideUp"
      >
        <a href="#" class="block text-black p-2">{{ subCategory }}</a>
      </li>
    </ul>
    <img 
      *ngIf="hoveredCategory.image" 
      [src]="hoveredCategory.image" 
      class="absolute top-0 left-full h-full w-196 object-cover animate-slideIn" 
      alt="{{ hoveredCategory.name }} Image"
    >
  </div>

  <!-- Sağdaki İkonlar -->
  <div class="flex items-center space-x-10 mr-10">
    <div class="text-gray-800 hover:text-black cursor-pointer" (click)="toggleSearchBar()">
      <i class="fas fa-search"></i>
    </div>
    <div class="text-gray-800 hover:text-black cursor-pointer">
      <i class="fas fa-user"></i>
    </div>
    <div class="text-gray-800 hover:text-black cursor-pointer">
      <i class="fas fa-shopping-cart"></i>
    </div>

    <div *ngIf="showSearchBar" class="absolute left-0 right-0 w-full h-40 bg-white shadow-lg z-20 flex items-center">
      <input type="text" placeholder="Ürün, kategori, marka..." class="w-full px-4 py-2 ml-8">
      <p class="absolute right-12 px-4 py-2  text-black" (click)="toggleSearchBar()">X</p>
    </div>
  </div>

  <!-- Overlay for Dropdown -->
  <div *ngIf="dropdownOpen" class="fixed inset-0 z-10 bg-black opacity-50 transition-opacity duration-300" (click)="closeDropdown()"></div>
</nav>
